{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Memeforge - Your Meme Creation Hub</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/editor.png') }}" alt="Memeforge Logo" height="250">
                    <div class="card-body">
                        <h5 class="card-title">Meme Creator and Editor</h5>
                        <p class="card-text">
                            <strong>Features:</strong>
                            <ul>
                                <li>Create and customize memes effortlessly using Memeforge.</li>
                                <li>Store your favorite meme creations for easy access and sharing.</li>
                                <li>Intuitive meme editor supporting image uploads, text overlays, and more.</li>
                            </ul>
                        </p>
                        <a href="#" class="btn btn-primary">Explore Meme Creation</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/db.png') }}" alt="Database" height="250">
                    <div class="card-body">
                        <h5 class="card-title">SQLite Database Integration</h5>
                        <p class="card-text">
                            <strong>Database:</strong>
                            <ul>
                                <li>Memeforge seamlessly integrates with SQLite for efficient data storage.</li>
                                <li>Store and manage your meme images in a secure and organized SQLite database.</li>
                                <li>Retrieve and showcase your meme collection with ease.</li>
                            </ul>
                        </p>
                        <a href="#" class="btn btn-primary">Learn about Database</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/admin.png') }}" alt="Admin Dashboard" height="250">
                    <div class="card-body">
                        <h5 class="card-title">Admin Dashboard</h5>
                        <p class="card-text">
                            <strong>Admin Controls:</strong>
                            <ul>
                                <li>Access a powerful admin dashboard for managing meme content and user data.</li>
                                <li>Monitor and control user interactions and content uploads.</li>
                                <li>Ensure a secure and enjoyable experience for all Memeforge users.</li>
                            </ul>
                        </p>
                        <a href="#" class="btn btn-primary">Explore Admin Dashboard</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}